<div class="row">
    <div class="row">
        <div class="col-md-12">
            <h1>{{department.departmentName}} - department: {{department.departmentId}}</h1>
            <br>
            <form method="post" action="/department/update">
                <input id="departmentId" name="departmentId" type="hidden" value="{{department.departmentId}}">
                <fieldset>
                    <legend></legend>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="departmentName">Department Name</label>
                                <input class="form-control" id="departmentName" name="departmentName" type="text" value="{{department.departmentName}}">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <hr>
                <input type="submit" class="btn btn-primary pull-right" value="Update Department"><br><br><br>
            </form>
        </div>
    </div>
</div>

    