<div class="row">
    <div class="col-md-12">
        <h2>Log In</h2>
        <hr>
        {{#if errorMessage}}
        <div class="alert alert-danger"> 
            <strong>Error:</strong> {{errorMessage}}
        </div> 
        {{/if}}
        <form method="post" action="/login">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input class="form-control" id="userName" name="userName" placeholder="User Name" type="text" value="{{userName}}" required="">
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input class="form-control" id="password" name="password" placeholder="Password" type="password" required="">
                    </div>
                </div>
            </div> 
            <hr>
            <input type="submit" class="btn btn-primary pull-right" value="Login">
        </form>
    </div>
</div>
    